//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $primary: #a48ad4;

//
// Palette custom
//

// Couleurs de base
$color-custom-blue: #0b6623 !default; // Bleu 
$color-white: #ebeef2 !default; // Blanc
$color-cool-gray-10: #63666a !default; // Gris foncé
$color-accent-orange: #f1701a !default; // Orange accent

// Override Bootstrap/OneUI (exemples)

$primary: #f59e0b !default;
$info: $color-custom-blue !default;
$body-bg: $color-white !default;
$body-color: $color-cool-gray-10 !default;
$warning: $color-accent-orange !default;

// Typography
$font-family-base:
	"Lato",
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	sans-serif !default;
$headings-font-family: "Lato", sans-serif !default;
